<div class="container fluid" ng-controller="CambodiaCtrl">
    <div class="row">
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_5476_c1.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_5543_c6.jpg" class="img-rounded" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4"><img src="/assets/images/IMG_5503_c3.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-4 col-sm-4"><img src="/assets/images/IMG_5537_c5.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-4 col-sm-4"><img src="/assets/images/IMG_5495_c2.jpg" class="img-rounded" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_6424_c17.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_5898_c9.jpg" class="img-rounded" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4"><img src="/assets/images/IMG_6403_c15.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-4 col-sm-4"><img src="/assets/images/IMG_7135_c20.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-4 col-sm-4"><img src="/assets/images/IMG_6413_c16.jpg" class="img-rounded" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_5946_c10.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_5954_c11.jpg" class="img-rounded" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-4"><img src="/assets/images/IMG_5616_c8.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-4 col-sm-6"><img src="/assets/images/IMG_6382_c14.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-4 col-sm-6"><img src="/assets/images/IMG_6337_c13.jpg" class="img-rounded" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_6316_c12.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_7123_c19.jpg" class="img-rounded" alt=""></div>
    </div>
</div>