<div class="container fluid" ng-controller="HomeCtrl">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4"><a ui-sref="thailand"><img src="/assets/images/IMG_7390_t17.jpg" class="img-rounded" alt=""></a></div>
        <div class="col-md-4 col-sm-4 col-xs-4"><a ui-sref="cambodia"><img src="/assets/images/IMG_6403_c15.jpg" class="img-rounded" alt=""></a></div>
        <div class="col-md-4 col-sm-4 col-xs-4"><a ui-sref="malaysia"><img src="/assets/images/IMG_4946_m6.jpg" class="img-rounded" alt=""></a></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6"><a ui-sref="cambodia"><img src="/assets/images/IMG_5954_c11.jpg" class="img-rounded" alt=""></a></div>
        <div class="col-md-6 col-sm-6 col-xs-6"><a ui-sref="indonesia"><img src="/assets/images/IMG_7804_i14.jpg" class="img-rounded" alt=""></a></div>
    </div>
    <div class="row">
        <div class="col-md-4"><a ui-sref="philippines"><img src="/assets/images/IMG_3845_p6.jpg" class="img-rounded" alt=""></a></div>
        <div class="col-md-4 col-sm-6 col-xs-6"><a ui-sref="thailand"><img src="/assets/images/IMG_5316_t7.jpg" class="img-rounded" alt=""></a></div>
        <div class="col-md-4 col-sm-6 col-xs-6"><a ui-sref="cambodia"><img src="/assets/images/IMG_6424_c17.jpg" class="img-rounded" alt=""></a></div>
    </div>
</div>