<div class="container fluid" ng-controller="HomeCtrl">
    <div class="row">
        <div class="col-md-6"><img src="/assets/images/IMG_7556_i1.jpg" class="two" alt=""></div>
        <div class="col-md-6"><img src="/assets/images/IMG_6337_c13.jpg" class="two" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-6"><img src="/assets/images/IMG_3845_p6.jpg" class="two" alt=""></div>
        <div class="col-md-6"><img src="/assets/images/IMG_4941_m5.jpg" class="two" alt=""></div>
    </div>
</div>