<div class="container fluid" ng-controller="IndonesiaCtrl">
    <div class="row">
        <div class="col-md-6"><img src="/assets/images/IMG_7556_i1.jpg" alt=""></div>
        <div class="col-md-6"><img src="/assets/images/IMG_7588_i2.jpg" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-4"><img src="/assets/images/IMG_7719_i6.jpg" alt=""></div>
        <div class="col-md-4"><img src="/assets/images/IMG_7657_i5.jpg" alt=""></div>
        <div class="col-md-4"><img src="/assets/images/IMG_7619_i3.jpg" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-6"><img src="/assets/images/IMG_7656_i4.jpg" alt=""></div>
        <div class="col-md-6"><img src="/assets/images/IMG_7804_i14.jpg" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-6"><img src="/assets/images/IMG_7834_i8.jpg" alt=""></div>
        <div class="col-md-6"><img src="/assets/images/IMG_7860_i13.jpg" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-4"><img src="/assets/images/IMG_7829_i7.jpg" alt=""></div>
        <div class="col-md-4"><img src="/assets/images/IMG_7846_i10.jpg" alt=""></div>
        <div class="col-md-4"><img src="/assets/images/IMG_7844_i9.jpg" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-6"><img src="/assets/images/IMG_7855_i11.jpg" alt=""></div>
        <div class="col-md-6"><img src="/assets/images/IMG_7859_i12.jpg" alt=""></div>
    </div>
</div>