<div class="container fluid" ng-controller="IndonesiaCtrl">
    <div class="row">
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_7588_i2.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_7656_i4.jpg" class="img-rounded" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6"><img src="/assets/images/IMG_7719_i6.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-4 col-sm-6"><img src="/assets/images/IMG_7657_i5.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-4"><img src="/assets/images/IMG_7619_i3.jpg" class="img-rounded" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_7556_i1.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_7804_i14.jpg" class="img-rounded" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4"><img src="/assets/images/IMG_7855_i11.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-4 col-sm-4"><img src="/assets/images/IMG_7859_i12.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-4 col-sm-4"><img src="/assets/images/IMG_7834_i8.jpg" class="img-rounded" alt=""></div>
    </div>
</div>