<div class="container fluid" ng-controller="MalaysiaCtrl">
    <div class="row">
        <div class="col-md-6"><img src="/assets/images/m4.jpg" class="two" alt=""></div>
        <div class="col-md-6"><img src="/assets/images/m1.jpg" class="two" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-6"><img src="/assets/images/m3.jpg" class="two" alt=""></div>
        <div class="col-md-6"><img src="/assets/images/m2.jpg" class="two" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-6"><img src="/assets/images/m5.jpg" class="two" alt=""></div>
        <div class="col-md-6"><img src="/assets/images/m6.jpg" class="two" alt=""></div>
    </div>
</div>