<div class="container fluid" ng-controller="MalaysiaCtrl">
    <div class="row">
        <div class="col-md-4 col-sm-6"><img src="/assets/images/IMG_4915_m2.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-4 col-sm-6"><img src="/assets/images/IMG_4969_m7.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-4"><img src="/assets/images/IMG_4922_m3.jpg" class="img-rounded" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_4941_m5.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_4869_m1.jpg" class="img-rounded" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4"><img src="/assets/images/IMG_4928_m4.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-4 col-sm-4"><img src="/assets/images/IMG_4946_m6.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-4 col-sm-4"><img src="/assets/images/IMG_5023_m8.jpg" class="img-rounded" alt=""></div>
    </div
</div