<div class="container" ng-controller="HomeCtrl">
<br>
    <div class="row">
        <div class="col-md-12">
            <div class="videoWrapper">
                <iframe src="https://player.vimeo.com/video/159839560" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>
<br>
<br>
<br>
    <div class="row">
        <div class="col-md-12">
            <div class="videoWrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xEmql4tshKk" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
<br>
<br>
<br>
    <div class="row">
        <div class="col-md-12">
            <div class="videoWrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/CU8lZRijG14" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
<br>
<br>
<br>
</div>