<div class="container fluid" ng-controller="PhilippinesCtrl">
    <div class="row">
        <div class="col-md-4"><img src="/assets/images/p2.jpg" class="three" alt=""></div>
        <div class="col-md-4"><img src="/assets/images/p3.jpg" class="three" alt=""></div>
        <div class="col-md-4"><img src="/assets/images/p4.jpg" class="three" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-6"><img src="/assets/images/p8.jpg" class="two" alt=""></div>
        <div class="col-md-6"><img src="/assets/images/p13.jpg" class="two" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-4"><img src="/assets/images/p6.jpg" class="three" alt=""></div>
        <div class="col-md-4"><img src="/assets/images/p5.jpg" class="three" alt=""></div>
        <div class="col-md-4"><img src="/assets/images/p12.jpg" class="three" alt=""></div>
    </div>    
</div>