<div class="container fluid" ng-controller="PhilippinesCtrl">
    <div class="row">
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_3802_p4.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_3834_p5.jpg" class="img-rounded" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-4"><img src="/assets/images/IMG_3765_p3.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-4 col-sm-6"><img src="/assets/images/IMG_3754_p2.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-4 col-sm-6"><img src="/assets/images/IMG_3730_p1.jpg" class="img-rounded" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_3845_p6.jpg" class="img-rounded" alt=""></div>
        <div class="col-md-6 col-sm-6"><img src="/assets/images/IMG_4854_p7.jpg" class="img-rounded" alt=""></div>
    </div>
</div>