<div class="container fluid" ng-controller="ThailandCtrl">
    <div class="row">
        <div class="col-md-6"><img src="/assets/images/t1.jpg" class="two" alt=""></div>
        <div class="col-md-6"><img src="/assets/images/t2.jpg" class="two" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-4"><img src="/assets/images/t5.jpg" class="three" alt=""></div>
        <div class="col-md-4"><img src="/assets/images/t6.jpg" class="three" alt=""></div>
        <div class="col-md-4"><img src="/assets/images/t4.jpg" class="three" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-6"><img src="/assets/images/t8.jpg" class="two" alt=""></div>
        <div class="col-md-6"><img src="/assets/images/t10.jpg" class="two" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-6"><img src="/assets/images/t3.jpg" class="two" alt=""></div>
        <div class="col-md-6"><img src="/assets/images/t14.jpg" class="two" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-4"><img src="/assets/images/t11.jpg" class="three" alt=""></div>
        <div class="col-md-4"><img src="/assets/images/t7.jpg" class="three" alt=""></div>
        <div class="col-md-4"><img src="/assets/images/t9.jpg" class="three" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-6"><img src="/assets/images/t13.jpg" class="two" alt=""></div>
        <div class="col-md-6"><img src="/assets/images/t15.jpg" class="two" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-6"><img src="/assets/images/t16.jpg" class="two" alt=""></div>
        <div class="col-md-6"><img src="/assets/images/t12.jpg" class="two" alt=""></div>
    </div>
</div>
